/* ==================== BARRA LATERAL ==================== */

header {
    width: 30%;
    height: 100vh;
    background: #555b6e;
    position: fixed;
    text-align: center;
}

.itens-nav {
    width: 100%;
    height: 306px;
    top: 50vh;
    position: relative;
    margin-top: -153px;
}

#imagemDePerfil {
    width: 180px;
    border: 5px solid #89b0ae;
    border-radius: 50%;
}

nav ul li {
    margin-top: 20px;
    font-size: large;
    font-family:sans-serif;
}

nav ul li a {
    color: #fff;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
}

nav ul li a:visited {
    font-style: normal;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration:underline;
}

.selecionado:visited, .selecionado {
    font-weight: 600;
    text-decoration: none;
}

/* ==================== CONTEÚDO ==================== */

main {
    width: 70%;
    height: 100vh;
    background: #faf9f9;
    position: relative;
    display: inline-block;
    left: 30%;
    color: #666;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.conteudo {
    width: 800px;
    height: 280px;
    position:relative;
    top: 50vh;
    margin-top: -140px;
    left: 6%;
}

.conteudo.conhecimentos {
    margin-top: -180px;
}

.nomePrincipal {
    font-size: 70px;
    font-weight: 600;
    text-transform:uppercase; 
    font-family: 'League Gothic', sans-serif;
    margin-bottom: 15px;
}

.spanCor {
    color: #555b6e;
}

p .spanCor {
    font-weight: 600;
}

.endereco, .formacao {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 50px;
}

.formacao {
    margin: 50px 0 0 0;
    font-weight: 600;
    text-decoration: underline;
    font-size: larger;
}

ul, ol {
    margin: 20px 0 0 0;
}
ul li, ol li {
    margin-bottom: 10px;
}

ol li {
    list-style-type: upper-alpha;
    margin-left: 20px;
}

ul li p::before {
    content: "\27BB ";
}

.redesSociais {
    margin-top: 55px;
}

.redesSociais picture a img {
    width: 50px;
    margin-right: 20px;
}
